/* The default is light mode */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0 ;
}

.top {
    margin: 10px;
    padding: 5px;
}

header {
    text-align: center;
}

.modes {
    margin-left: 30px;
    padding-bottom: 10px;
}

nav {
    background-color: #333333;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

nav a:last-child {
    margin-left: auto;
}

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.first {
    width: 350%;
}

.mcm {
    margin: 10px;
    padding: 20px;
    background-color: white;
}

.cea {
    margin: 10px;
    padding: 20px;
    background-color: white;
}

.about-me {
    margin: 10px;
    padding: 20px;
    background-color: white;
    text-align: justify;
}

.favorite-food {
    margin: 10px;
    padding: 20px;
    background-color: white;    
}

footer {
    margin: 20px;
    text-align: center;
    background-color: #dddddd;
    padding: 10px;
}


/* THIS IS FOR DARK MODE OF THE WEBSITE */
body.dark-mode {
    background-color: #252525;
    color: white;
    margin: 20px;
    margin: 0;
    padding: 0;
}

body.dark-mode > .top {
    padding: 5px;
    margin: 10px;
    background-color: #616161;
}

body.dark-mode > nav {
    background-color: #112233;
}

body.dark-mode .mcm {
    background-color: #616161;
}

body.dark-mode .cea {
    background-color: #616161;
}

body.dark-mode .about-me {
    background-color: #616161;
}

body.dark-mode .favorite-food {
    background-color: #616161;
}

body.dark-mode > footer {
    background-color: #616161;
}