body {
    background-color: #e8f9fd;
    font-size: 125%;
}

header {
    background-color: #fff5d7;
    text-align: center;
}

h1{
    color: #2f1826;
}

nav{
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

h2 {
    color: #3a4660; 
    background-color: #c7f5ff;
}

summary, details {
    font-style: italic;
}

footer {
    background-color: #91c3ce;
}