body {
    height : 100vh;
    width : 100vw;
    padding : 0px;
}

header {
    margin : 0px;
    background-color:lightblue;
    padding-left : 50px;
    padding-right : 50px;
    padding-top : 25px;
    padding-bottom : 25px;
}

main.main-content {
    background-color: beige;
    display : block;
}

section.main-content__main-section {
    width : 80%;
}

section.main-content__main-aside {
    width : 20%;
}

footer {
    background-color: beige;
}